<div class="header">
  <div class="container">
    <div class="pull-left">
      <a href="/" class="logo">Like It Or Not</a>
    </div>
  </div>
</div>

<div class="content container">
  <br/>
  <h1>PRIVACY POLICY AGREEMENT</h1>

  <p>The creators of this quiz are committed to keeping any and all personal information collected of those individuals that visit our website and making use of our online facilities and services accurate, confidential, secure and private. Therefore, this document (the Privacy Policy Agreement) shall apply to the project, and thus it shall govern any and all data collection and usage thereof. By visiting our website and/or taking our quiz (or any part thereof), you are herein consenting to the terms and conditions outlined in this agreement.</p>
  
  <h3>Collection of Information</h3>
  <p>This website collects various types of information, including but not limited to your name, email address, facebook likes and how you perform on the quiz.</p>

  <h3>Use of Information Collected</h3>
  <p>This project may collect and may make use of information to assist in its operation and to ensure delivery of the services you request. This project does not now, nor will it in the future, sell, rent, or lease any of our customer lists and/or names to any third parties. This project may disclose your personal information, without prior notice to you, only if required to do so in accordance with applicable laws and/or in a good faith belief that such action is deemed necessary or is required in an effort to:</p>

  <ul>
    <li>Comply with any court orders, warrants, laws, and/or statutes, or with any legal process which may be served upon the project and/or our website;</li>
    <li>Maintain, safeguard, and/or preserve all the rights and/or property pertaining or belonging to the project or its creators;</li>
    <li>Safeguard the personal safety of users of the quiz and/or the general public; and</li>
    <li>Serve any other purpose that the creators, in their sole discretion, deem necessary or desirable.</li>
  </ul>
  
  <h3>Children Under Age of 13</h3>
  <p>This project does not knowingly collect personal identifiable information from children under the age of thirteen (13) without verifiable parental consent. If it is determined that such information has been inadvertently collected on anyone under the age of thirteen (13), we shall immediately take the necessary steps to make a best faith effort to ensure that such information is deleted from our system's database. Anyone under the age of thirteen (13) must seek and obtain permission from a parent or legal guardian to use this website.</p>

  <h3>Links to Other Web Sites</h3>
  <p>Our website may contain links to affiliate and other websites. We do not claim nor accept responsibility for any privacy policies, practices and/or procedures of other such websites. Therefore, we encourage all users and visitors to be aware when they leave our website and to read the privacy statements of each and every website that collects personally identifiable information. This Privacy Policy Agreement applies solely and exclusively to the information collected by our website.</p>

  <h3>Security</h3>
  <p>The project shall endeavor and shall take every precaution to maintain adequate physical, procedural and technical security with respect to our offices and information storage facilities so as to prevent any loss, misuse, unauthorized access, disclosure or modification of the user's personal information under our control.</p>

  <h3>Acceptance of Terms</h3>
  <p>As stated earlier, by visiting our website and/or taking our quiz (or any part thereof) you are hereby accepting the terms and conditions stipulated within this Privacy Policy Agreement. If you are not in agreement with our terms and conditions, then you should refrain from any use of the site and from answering any questions on the quiz.</p>

  <h3>How to Contact Us</h3>
  <p>If you have any questions or concerns regarding the Privacy Policy Agreement related to our website, please feel free to contact us at the following email address: paul.fletcher-hill@yale.edu/p>

  <h3>Elastic Clause</h3>
  <p>For any reason, the creators may make changes to, or revoke entirely, this policy without notice.</p>
</div>