<div class="header">
  <div class="container">
    <div class="pull-left">
      <a ng-href="/" class="logo">Like It Or Not</a>
    </div>
    <div class="pull-right">
      <span class="current-user">
        <span class="current-user-photo" style="background-image: url({{currentUser.avatar}})"></span>
        {{currentUser.name}}
        <a href="/logout" target="_self">Logout</a>
      </span>
    </div>
  </div>
</div>