<%= render "/templates/header" %>
<div class="container content ui-view">
  <br/>
  <div class="jumbotron">
    <h1>Hey, {{currentUser.name}}!</h1>
    <p>Our Facebook presences look like us. They have the same haircuts, heights, and weights, though it appears that they have way better skin than we do. We go to many of the same places--though they apparently spend a lot less time in the library--and are obsessed with the same people. They also have way more friends than we do. Ultimately, our differences are sometimes so large as to render us fundamentally distinct people.</p>

    <p>With Like It Or Not we are trying to explore the potential dichotomy between people’s real-world selves and the images that they project on Facebook, as well as the possible implications of that schism. So, <a href="#" ng-click="newGame()">take our quiz</a>, <a ui-sref="main.results">explore your results</a>, <a ui-sref="main.results">examine the responses of your peers</a>, and delve into the fascinating world of the split online personality.</p>
    <p>
      <a class="btn btn-primary btn-lg" role="button" ng-click="newGame()">Start a New Game!</a>
    </p>
  </div>
</div>
<%= render "/templates/footer" %>