<%= render "/templates/header" %>
<div class="container content ui-view">
  <div class="game">
    <div ng-repeat="result in game.results" ng-controller="PageCtrl" class="game-page" ng-click="toggleAnswer()">
      <div class="page-bg" style="background-image: url({{page.picture}})">
      {{page.name}}, {{result.answer}}
    </div>
  </div>

  <div class="game-footer">
    <a ng-click="submitAnswers()" class="game-done btn">I'm Done!</a>
  </div>
</div>
