<br/>
<div class="panel panel-default">
  <div class="panel-body">
    <h1>Nice! You got {{counts.true || 0}} of {{counts.true + counts.false}} correct!</h1>
  </div>
  <div class="panel-footer">
    <div class="result" ng-repeat="result in game.results">
      <div class="result-answer" style="background-image: url({{result.page.picture}})">
        <div class="result-correct" ng-show="result.correct">
          <i class="fa fa-check"></i>
        </div>
        <div class="result-wrong" ng-show="!result.correct">
          <i class="fa fa-times"></i>
        </div>
      </div>
      <div class="result-name">
        {{result.page.name}}
        <div class="result-summary">
          <span class="correct" ng-if="result.answer && result.correct">
            You like this on Facebook and offline!
          </span>
          <span class="wrong" ng-if="result.answer && !result.correct">
            You like this offline but not on Facebook!
          </span>
          <span class="correct" ng-if="!result.answer && result.correct">
            You don't like this at all!
          </span>
          <span class="wrong" ng-if="!result.answer && !result.correct">
            You only like this on Facebook!
          </span>
        </div>
        <div class="fb-link">
          <a href="{{result.page.url}}" target="_new" class="fb-link-btn">
            <span>See on Facebook</span>
          </a>
        </div>
      </div>
      <div ng-if="$index % 3 == 0" style="clear: both"></div>
    </div>    
    <div style="clear: both"></div>
  </div>
</div>

<div class="game-footer">
  <a ng-click="newGame()" class="game-done btn btn-primary btn-lg">
    <i class="fa fa-refresh"></i>
    Play Again!
  </a>
  <a ui-sref="main.results" class="game-done btn btn-primary btn-lg">
    <i class="fa fa-bar-chart-o"></i>
    See My Results!
  </a>
</div>