<div class="login-form container">
  <%= image_tag 'likeitornot_textlogo_small.png', class: "login-logo" %>

  <div class="login-fb">
    <a href="/auth/facebook" class="login-fb-btn">
      <span>Connect with Facebook</span>
    </a>
  </div>
</div>