// Fonts
$sans: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$sans-light: 'HelveticaNeue-Light', $sans;
$sans-ultralight: 'HelveticaNeue-UltraLight', $sans;
$serif: 'Georgia' serif;
// Colors
$dark-blue: #2854A1;
$blue: #3366CC;
$green: #4CCEAD;
$red: #CE345C;
$text-grey: #777;
$border-grey: #dadada;
$light-border-grey: #eee;
$light-grey: #fafafa;
// Other
$top-z: 10;
$min-width: 960px;

// Useful classes
.transparent { @include opacity(0); }
.hide { display: none !important; }
.big { font-size: 120%; line-height: 180%; }
.small { font-size: 80%; }
.full-width { height:100%; width:100%; }
.bold { font-weight: bold; }
.light-font { font-family: $sans-light; }
.ultralight-font { font-family: $sans-light; letter-spacing: 1px; }
.italic { font-style: italic; }
.grey { color: $text-grey; }
.green { color: $green; }
.blue { color: $blue; }
.inline-block { display: inline-block !important; }
.pull-right { float: right; }
.pull-left { float: left; }
.centered { text-align: center; }
.sans { font-family: $sans }
.align-top { vertical-align: top; }
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* Layouts */
$small-min-width: 780px;
$small-container-width: 700px;
$large-min-width: 1060px;
$large-container-width: 800px;

$small-phone-width: 320px;
$phone-width: 480px;
$tablet-width: 768px;
$small-desktop-width: 1024px; // Also iPad landscape
$large-desktop-width: 1624px;

@mixin small-phone {
  @media only screen and (max-width: #{$phone-width}) { @content; }
}
@mixin phone {
  @media only screen and (max-width: #{$tablet-width - 1}) { @content; }
}
@mixin small-tablet {
  @media only screen and (min-width: #{$tablet-width}) and 
  (max-width: #{$small-desktop-width}) and 
  (orientation: portait) { @content; }
}
@mixin tablet {
  @media only screen and (min-width: #{$tablet-width}) and 
  (max-width: #{$small-desktop-width}) { @content; }
}
@mixin large-tablet {
  @media only screen and (min-width: #{$tablet-width}) and 
  (max-width: #{$small-desktop-width}) and 
  (orientation: landscape) { @content; }
}
@mixin small-mobile {
  @media only screen and (max-width: #{$tablet-width}) { @content; }
}
@mixin mobile {
  @media only screen and (max-width: #{$small-desktop-width}) { @content; }
}
@mixin desktop {
  @media only screen and (min-width: #{$tablet-width}) { @content; }
}
@mixin small-desktop {
  @media only screen and (min-width: #{$tablet-width + 1}) and 
  (max-width: #{$small-desktop-width}) { @content; }
}
@mixin large-desktop {
  @media only screen and (min-width: #{$small-desktop-width + 1}) and 
  (max-width: #{$large-desktop-width}) { @content; }
}
@mixin huge-desktop {
  @media only screen and (min-width: #{$large-desktop-width + 1}) { @content; }
}
@mixin screen($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) { @content; }
}

@mixin opacity($o) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$o})";
  -moz-opacity: $o;
  -khtml-opacity: $o;
  opacity: $o;
  // filter: alpha(opacity=$o);
}

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

@mixin box-shadow ($expression) {
	-webkit-box-shadow: $expression;
	-moz-box-shadow: $expression;
	box-shadow: $expression;
}

.gainlayout {
  zoom: 1; // IE hasLayout hack (http://www.satzansatz.de/cssd/onhavinglayout.html)
}
/* Can't @extend .hide from @media directive :( */
.no-phone {
  @include phone { display: none !important; }
}
.no-tablet {
  @include tablet { display: none !important; }
}
.no-small-mobile {
  @include small-mobile { display: none !important; }
}
.no-mobile {
  @include mobile { display: none !important; }
}
.no-desktop {
  @include desktop { display: none !important; }
}
