$header-height: 60px;
$blue: #3b5999;

body {
  background-color: #fafafa;
}

.content {
  margin-top: $header-height;
  margin-bottom: 100px;
}

// Game Style
$game-top-pad: 20px;
$game-pad: 15%;
.game {
  width: 100% - 2*$game-pad;
  margin: auto;
  margin-top: $game-top-pad;
  min-height: 200px;
}

$page-pad: 30px;
$game-height: 220px;
$page-z: 10;
.game-page {
  @include calc(width, "(100% / 3) - 2*#{$page-pad}");
  margin: $page-pad;
  float: left;
  border-radius: 10px;
  border: 1px solid #dadada;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 0;
  @include transition(0.2s);
  
  &:hover {
    border: 1px solid #aaa;
    @include box-shadow(0 0 2px 1px #ccc);
  }
  
  &.selected {
    .page-name {
      background: green;
      color: white;
    }
  }
  
  .page-bg {
    width: 100%;
    height: $game-height;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ccc;
    z-index: $page-z - 1;
  }
  
  .page-name {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #dadada;
    padding: 10px;
    z-index: $page-z;
  }
    
  .page-answer {
    height: $game-height;
    width: 100%;
    background: green;
    color: white;
    font-size: 120px;
    text-align: center;
    line-height: $game-height;
    position: absolute;
    opacity: 0.85;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.game-footer {
  margin-top: $page-pad;
  clear: both;
  border-top: 1px solid #eee;
  text-align: center;
  padding: $page-pad 0;
}

.game-done {
  line-height: 50px;
  width: 40%;
  //background: $green;
  color: white;
  margin: auto;
}

.result {
  padding: 15px;
  border-bottom: 1px solid #dadada;
  float: left;
  @include calc(width, "(100% / 3) - 2*#{$page-pad}");
  margin: $page-pad;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
}

$answer-height: 60px;
.result-answer {
  height: $answer-height;
  width: $answer-height;
  border-radius: 5px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  float: left;
  
  .result-correct,
  .result-wrong {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: $answer-height;
    font-size: $answer-height / 2;
    text-align: center;
    color: white;
    opacity: 0.8;
  }
  
  .result-correct {
    background: green;
  }
  
  .result-wrong {
    background: red;
  }
}

.result-name {
  vertical-align: top;
  margin-left: $answer-height + 10px;
  font-family: $sans;
  font-size: 18px;
}

